<body>

       <div class="box-busca">
              <h1>BUSQUE SEUS LIVROS AQUI!</h1>
              <br><br>

              <div class="search-box">
                  
                  <form method="post" action="#">
                      <input type="text" class="search-box-input" name="busca" placeholder="Faça sua Pesquisa">
                      <button class="search-box-button"><i class="search-box-icone icon icon-search"></i></button>

                  </form>
                  
                 
            
             <!--
       <input class="form-control" type="text" 
              name="titulo" id="titulo" formControlName="titulo">
       <input class="btn btn-info mt-3" type="button" value="Buscar" 
              [disabled]="formBusca.invalid" (click)="buscar()">
</div>
          
</div>

<div *ngIf="filmes && filmes.length > 0"  class="filmes">
<div *ngFor="let filme of filmes">
     <img [src]="filme.Poster" alt="Poster">
       <div class="card-body">
              <h5 class="card-title">{{filme.Title}}</h5>
              <ul class="card-text">
                 <li>Diretor: {{filme.Director}}</li>
                 <li>Ano: {{filme.Year}}</li>
                 <li>Gênero: {{filme.Genre}}</li>
              </ul>
       </div>-->
</div>
</div>
</body>
